# Environment variables for the project
# Rename this file to .env and fill in the values
PRIVATE_KEY=0xC6a53a3f4e53aBB9fBA43D1FFF98fB96E5888F23
RPC_URL=http://0.0.0.0:8545
ETHERSCAN_API_KEY=VQC6WVQRUSWJFFCIMWUW7CQ2JQ8SUQIJF3